@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@font-face {
    font-family: 'cute-love';
    src: url('Cute-Love.ttf') format('truetype');
  }


  /*Countdown Start*/
  .c-container {
    color: #333;
    text-align: center;
    margin-left: -35px;
  }
  
  
  .c-content {
    display: inline-block;
    font-size: 20px;
    list-style-type: none;
    color: white;
    background-color: rgb(255 255 255 / 0.25);;
    padding: 15px 30px;
    text-transform: uppercase;
    border-radius: 18px;
    margin-right: 20px;
    margin-left: 0;
  }
  
  .c-time{
    display: block;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Outfit';
    line-height: 37.8px;
    margin: 0;
    
  }

  .c-description{
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
    font-size: 15px;
    line-height: 18.9px;
       
  }

   /*Countdown End*/

    /*Form Start*/
  .card-form {
    padding-top: 2px;
  }
  
  .input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 20px;
    &+.input {
      margin-top: 0;
    }
  }
  
  .input-label {
    color: #8597a3;
    position: absolute;
    top: 1.5rem;
    transition: .25s ease;
    font-size: 15px;
  }
  
  .input-field {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee; 
    font: inherit;
    font-size: 1.125rem;
    padding-top: 1rem ;
    width: 20rem;
    color: #000;
    &:focus, &:valid {
      outline: 0;
      border-bottom-color: #6658d3;
     
      &+.input-label {
        color: #6658d3;
        
        transform: translateY(-10px);
      }
    }
  }
  
  .action {
    margin-top: 2rem;
  }
  

   /*Form End*/

   /*Footer form start*/
   .input-label-2 {
    color: #000;
    opacity: 50%;
    position: absolute;
    top: 20px;
    font-weight: 500;
    transition: .25s ease;
    font-size: 14px;
  }
  
  .input-field-2 {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee; 
    font: inherit;
    font-size: 1.125rem;
    padding-top: 1rem ;
    width: 20rem;
    color: #000;
    &:focus, &:valid {
      outline: 0;
      border-bottom-color: #6658d3;
     
      &+.input-label-2 {
        color: #6658d3;
        font-weight: 500;
        opacity: 100%;
        transform: translateY(-10px);
      }
    }
  }
  
  .action {
    margin-top: 2rem;
  }
  /*Footer form end*/

@layer utilities {

    .bg-gradient{
        background-image: linear-gradient(to bottom, #FFFFFF, #F4E2FE);
  height: 55em;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .mb-menu{
        background-color: #fff;
    }
    .poppins{
        font-family: 'Poppins';
      }

      .outfit{
        font-family: 'Outfit';
      }

      .btn-linear{
        background: linear-gradient(180deg, #B764E9 0%, #B971E4 0.01%, #2642D8 100%);
      }

      .border-linear{
        border-color: #0a0a0a;
        border-width: 4px;
        border-style: solid;
      }

      .linear-1{
        background: linear-gradient(180deg, #B764E9 0%, #B971E4 0.01%, #2642D8 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

      }

      .font-cute-love{
        font-family: 'cute-love';
      }

      .student-img{
        height: 58px;
        width: 148px;
      }

      .join{
        line-height: 20.16px;
      }

      .home-img-1{
        width: 255px;
        height: 320px;
       
      }
      
      .home-img-2{
        width: 168px;
        height: 230.22px;
      
      }

      .home-img-3{
        width: 209px;
        height: 172px;
        position: absolute;
      }

      .review-img{
        width: 265px;
        height: 101px;
        z-index: 10;
      }

      .card-img{
        width: 290px;
        height: 193px;
      }

      .bg-gradient2{
        background-image: linear-gradient(to bottom, #FFFFFF, #F4E2FE);
        height: 112rem;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .line-m{
        margin-top: -14px;
    }


    .kau-1{
      width: 260px;
      height: 257px;
    }

    .kau-2{
      width: 211.13px;
      height: 216px;
      position: absolute;
    }

    .kau-3{
      width: 310.82px;
      height: 348px;
    }

    .resource-bg{
      background-image: url(img/resource-bg.png);
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff;
    }

    .bg-post{
      background-image: linear-gradient(to bottom, #FFFFFF, #DCE1FF);
    }















    .content-auto {
      content-visibility: auto;
    }
    .font-rage{
        font-family: 'rage-regular';
    }
    .main-c{
        background-color: #ff007a;
    }
    @media screen and (max-width: 1024px) {
        .main-c{
            margin-bottom: 10px;
        }
        .main-c2{
            margin-bottom: 10px;
        }
    }
    .main-c2{
        background-color: #1b1b1b;
    }
    .main-c:hover{
        color: #ff007a;
        border-color: #ff007a;
        background-color: #ff007a;
    }

    .bg-color{
        background-color: #0a0a0a;
    }
    
    .bebas{
        font-family: 'Bebas Neue';
     }
     
      @media screen and (max-width: 608px) {
        .bg-image{
            background-image: url(img/bg-mobile.png);
            background-size: contain;
            background-repeat: no-repeat;
            
          }
      }
      .top1 {
        top: 176px;
    }
      .top2{
        top: 225px;
        
      }
      .top3{
        top: 270px;
      }

      .top-c{
        top: 20rem;
        position: absolute;
      }

      .height{
        height: 100vh;
      }
      
        .gap-b {
          gap: 5.5rem/* 128px */;
      }

      .gap-c {
        gap: 4.6rem/* 80px */;
    }
    .-mt {
      margin-top: -29.1rem/* -384px */;
  }

  .mr-2 {
    margin-left: 66.3rem/* 40px */;
}

   .about-img1{
       background-image: url(img/about1.png);
        background-size: 150%;
        background-repeat: no-repeat;

   }

   .about-img2{
    background-image: url(img/about2.png);
     background-size: auto;
     background-repeat: no-repeat;
     
   }

   .about-img3{
    background-image: url(img/about3.png);
     background-size: auto;
     background-repeat: no-repeat;
   }


  }